

<% if request.env["HTTP_USER_AGENT"] =~ /MSIE 8.0/%>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" >
<% end %>




    <div class="center hero-unit">


     <h1>WSAD - weighted sum of absolute deviations</h1>

     <h2>


     Problemy szeregowania zadań mają ten sam termin realizacji, kary są oceniane zarówno dla wczesnego i późnego zakończenia pracy. Jednak wczesność i spóźnienia realizacji zadań są karane. Celem planowania jest ograniczenie albo ustalenie ważonej sumy odchyleń bezwzględnych (WSAD).


       <br><br>Dla każdego celu rozważamy dwie wersje tego problemu. W nieograniczonej wersji wzrost terminu nie daje zmniejszenia w funkcji celu.



       <br> <br><br>     <br>
       <h1>Szerguj zadania:</h1>
       <br>



       <%= form_tag('/calculate') do %>

           <%= text_field_tag "list[]"%>
           <%= label_tag(:list, "Wpisz zadania oddzielając je spacjami") %><br />




           <%= text_field_tag(:s) %>
           <%= label_tag(:s, "Podaj wspólny żądany termin zakończenia d") %><br />

           <%= text_field_tag(:s) %>
           <%= label_tag(:s, "Podaj jednostkowy koszt wykonania zadania PRZED terminem - Alfa") %><br />

           <%= text_field_tag(:x) %>
           <%= label_tag(:x, "Podaj jednostkowy koszt wykonania zadania PO terminie - Beta") %><br />



           <%= text_field_tag "uszeregowane[]"%>
           <%= text_field_tag(:uszeregowane, @result, :disabled => true) %>



           <%= submit_tag("Szerguj zadania", class: "btn btn-large btn-primary") %>


       <% end %>














       <br>



       <img src="http://chart.apis.google.com/chart?chxt=x,y&chd=s:SIQf9YOp&chtt=Problem+WSAD&chts=FF0000,&cht=bvs&chs=250x400&chxr=0,9,30"/>

       <br><br>

       <%= text_field_tag(:e) %>
       <%= label_tag(:e, "Suma kosztów") %><br />

       <br><br>





       <!--  <%= text_field_tag(:s) %>
           <%= label_tag(:s, "Second Number") %><br />

         -->



     </h2>

      <br>
    <br>

      <!-- <a href="http://www.put.poznan.pl/">Politechnika Poznańska</a>
           -->

   </div>

    <div>

           <p id="tagline" class="fulljustify">

            <%= link_to image_tag("/PP.png", alt: "Politechnika Poznańska"), "http://www.put.poznan.pl/" %>

             <%= link_to image_tag("/IAII.png", alt: "Instytut Automatyki i Inżynierii Informatycznej"), "http://www.cie.put.poznan.pl/" %>

             <%= link_to image_tag("/WE.png", alt: "Wydział Informatyki Politechniki Poznańskiej"), "http://www.fcm.put.poznan.pl/" %>

           </p>
     </div>


